@import "reset.css";
@import "bg.css";
@import "clock.css";
@import "greeting.css";
@import "todo.css";
@import "weather.css";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
  background-color: #2c3e50;
  color: #34495e;
  transition: color 0.5s ease-in-out;
  font-family: "Pacifico", cursive;
}

.clicked {
  color: #7f8c8d;
}
